---
layout: base.njk
title: 料金プラン - Leap
description: 完全無料から始められる多言語ビジネス支援。運用代行まで任せられるスタンダードプランも登場。
permalink: /{{ locale }}/pricing/
---

<!-- 料金プランコンポーネントの読み込み -->
{% include "pricing.njk" %}

<!-- Call to Action -->
{% include "cta1.njk" %}