---
layout: base.njk
title: Pricing Plans - Leap
description: Multilingual business support starting for free. Introducing the Standard Plan for fully managed operations.
permalink: /{{ locale }}/pricing/
---

<!-- 料金プランコンポーネントの読み込み -->
{% include "pricing.njk" %}

<!-- Call to Action -->
{% include "cta1.njk" %}