---
layout: base.njk
title: 价格方案 - Leap
description: 免费起步的多语言业务支援。亦提供可全权委托代运营的标准版方案。
permalink: /{{ locale }}/pricing/
---

<!-- 料金プランコンポーネントの読み込み -->
{% include "pricing.njk" %}

<!-- Call to Action -->
{% include "cta1.njk" %}